* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 228, 109);
}

header {
    display: flex;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: aliceblue;
}

#nav-bar {
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(255, 221, 0);
    border-bottom: 7px rgb(255, 0, 0) solid;
}

form {
    display: inline-block;
    align-self: bottom;
    margin-top: 100px;
}

a {
    height: 25px;
    width: 150px;
    margin: 10px 30px;
    font-size: 20px;
    color: black;
    font-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;

}

#header-img {
    height: 44px;
    justify-self: start;
    position: absolute;
}

#texts {
    background-color: rgb(210, 234, 255);
    padding: 25px;
    border-radius: 20px;

    margin-bottom: 50px;
}

#headline {
    font-size: 50px;
    margin-bottom: 25px;
}

#p1 {
    font-size: 25px;
    align-self: center;
    width: 1200px;
}

#space1 {
    height: 50px;
}

#space2 {
    height: 200px;
}